/* ------ Base Layout - Start ------- */
/* ------ general styles for whole webpage ------- */

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  }
  
  body{
  font-family: 'Karla', sans-serif;
  background: #f3f0e9;
  color: #000;
  line-height: 1.6;
  }
  
  img{
  width: 100%;
  display: block;
  }
  
  .container{
  width: 90%;
  max-width: 1200px;
  margin: auto;
  }
  
  h1,h2,h3,nav{
  font-family:'Lato', sans-serif;
  }
  
  h1 {font-size: 2.027rem;}
  h2 {font-size: 1.802rem;}
  h3 {font-size: 1.424rem;}
  
  p {font-size: 1rem;}
  
.section-tag {
  color: #d69e3d;
  font-weight: 600;
  margin-bottom: 10px;
}
  
.center {
  text-align: center;
}

/* ------ Base Layout - End ------- */


/* ------ Header & Nav Layout - Start ------- */
/* ------ general styles that affects header and nav only ------- */

header {
  background: #000;
  color: #fff;
  padding: 15px 0;
}
  
.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
  
nav ul {
  display: flex;
  gap: 25px;
  list-style: none;
}
  
nav a {
  color: #fff;
  text-decoration: none;
  font-family: 'Lato';
  font-weight: 700;
}

/* ------ Header & Nav Layout - End ------- */


/* ------ Hero Banner Section - Start ------- */
/* ------ general styles that affects hero section only // alignment, size, content ------- */

.hero {
  background: url(midterm-assets/images/hero-background.jpg) center/cover no-repeat;
  height: 70vh;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: #fff;
  position: relative;
}
  
.hero::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
  
.hero-content {
  position: relative;
  max-width: 600px;
}
  
.btn {
  display: inline-block;
  margin-top: 20px;
  background: #fff;
  padding: 12px 25px;
  color: #000;
  text-decoration: none;
  font-weight: 600;
}

/* ------ Hero Banner Section - End ------- */


/* ------  Intro Container Section - Start ------- */
/* ------ general styles that affects intro section only // alignment, size, content ------- */

.intro {
  padding:60px 0;
}
  
.grid-gallery { /* ---- Controls general grid layout for grid parent ---- */
  margin-top:30px;
  display: grid;
  grid-template-rows: 1fr;
  gap: 15px;
}
  
.grid-gallery .large { /* ---- Controls grid positioning for photos contained in grid parent ---- */
  grid-column: 1/3;
}

/* ------ Hero Banner Section - End ------- */


/* ------  Why Visit Section - Start ------- */
/* ------ general styles that affects why visit section only // alignment, size, content ------- */

.why {
  padding:60px 0;
}
  
.features {
  margin-top:40px;
  display:flex;
  flex-direction:column;
  gap:40px;
  text-align:center;
}
  
.feature img {
  width:70px;
  margin:auto;
  margin-bottom:15px;
}

/* ------ Why Visit Section - End ------- */


/* ------  CTA Section - Start ------- */
/* ------ general styles that affects CTA section only // alignment, size, content ------- */


.cta {
  margin-top: 60px;
}
  
.cta-grid {
  display: grid;
  grid-template-columns: 1fr;
}
  
.cta-box {
  color:#fff ;
  padding: 80px 40px;
  text-align: center;
  background-size: cover;
  background-position: center;
}

.cta-grid {
  background: url(midterm-assets/images/coffee-shop.jpeg) center/cover no-repeat;
  height: 70vh;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: #fff;
  position: relative;
}
  
.cta-grid::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0,0,0,0.5);
}
  
.btn-outline {
  border: 2px solid #fff;
  padding: 10px 20px;
  color: #fff;
  text-decoration: none;
  display: inline-block;
  margin-top: 20px;
}

/* ------ CTA Section - End ------- */


/* ------  About Section - Start ------- */
/* ------ general styles that affects about section only // alignment, size, content ------- */

.about {
  padding: 70px 0;
  display: flex;
  flex-direction: column;
  gap: 30px;
  text-align: left;
}
  
.about-text {
  max-width:500px;
}
  
.btn-dark {
  background:#000;
  color:#fff;
  padding:1 0px 20px;
  text-decoration: none;
  display: inline-block;
  margin-top: 20px;
}

.testimonials {
  background:#000;
  color:#fff;
  padding: 70px 0;
}
  
.testimonial-grid {
  margin-top: 40px;
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;
}
  
.testimonial span {
  color:#d69e3d;
  font-size: .9rem;
}

footer {
  text-align: center;
  padding: 20px;
  background:#000;
  color:#fff;
  font-size: .9rem;
}

/* ------  Media Queries ------- */

/* ------ Tablet Size - Start ------- */

@media (min-width:768px) {

  h1{font-size:2.986rem;}
  h2{font-size:2.488rem;}
  h3{font-size:1.728rem;}
  
.grid-gallery {
    grid-template-columns: 2fr 1fr 1fr;
  }
    
  .grid-gallery .large {
    grid-row: 1/3;
  }
    
  .features {
    flex-direction: row;
    justify-content: space-between;
  }
    
  .cta-grid {
    grid-template-columns:1fr 1fr;
  }
    
  .about {
    flex-direction:row;
    align-items:center;
  }
    
  .testimonial-grid {
    grid-template-columns:repeat(3,1fr);
  }
}

@media (min-width:1200px) {

  h1{font-size:3.815rem;}
  h2{font-size:3.052rem;}
  h3{font-size:1.953rem;}
  
.hero {
  height: 80vh;
}
  
.container {
  width: 85%;
  }
}